@using QDLogistics.Models
@using QDLogistics.Commons
@model Carriers

@section styles{
    <link href="~/Content/themes/default/easyui.css" rel="stylesheet" />
    <link href="~/Content/themes/icon.css" rel="stylesheet" />
}
<div id="content">
    <section id="widget-grid" class="">
        <div class="row">
            <article class="col-xs-12">
                <div class="jarviswidget" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false"
                     data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>

                        <h2>編輯</h2>
                        <ul class="nav nav-tabs pull-right">
                            <li><a data-toggle="tab" href="#hb1">基本資料</a></li>
                        </ul>
                    </header>

                    <div>
                        <div class="widget-body no-padding">
                            <form id="data-form" class="form-horizontal" method="post" enctype="multipart/form-data">
                                <input type="hidden" name="isEnable" value="True">

                                <div id="content" class="tab-content">
                                    <div class="tab-pane" id="hb1">
                                        <fieldset>
                                            <legend>基本資料</legend>

                                            <div class="form-group">
                                                <label class="col-sm-2 control-label" for="Name">名稱</label>

                                                <div class="col-sm-9 col-lg-4">
                                                    <input type="text" class="form-control" id="Name" name="Name" value="@Model.Name">
                                                </div>
                                            </div>
                                            
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label" for="Carrier">聯絡信箱</label>

                                                <div class="col-sm-9 col-lg-6">
                                                    <input type="email" class="form-control" id="Email" name="Email" value="@Model.Email">
                                                </div>
                                            </div>
                                                                                        
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">運輸商 API</label>

                                                <div class="col-sm-9 col-lg-3">
                                                    @Html.DropDownListFor(Model => Model.Api, (SelectList)ViewData["apiSelect"], new Dictionary<string, object>() { { "class", "form-control" } })
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>

                                <div class="widget-footer">
                                    <button type="submit" class="btn btn-primary" id="save">儲存</button>
                                    <!-- <button type="submit" class="btn btn-primary" id="back" onclick="$('#data-form').attr('action', '?back=1');">儲存後返回</button> -->
                                    <button type="button" class="btn btn-default" onclick="location.href='@Url.Action("carrier", "shipping", ViewBag.routeValue)'">返回</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>
@section pagespecific {
    <script src="~/scripts/jquery.easyui-1.4.3.min.js"></script>
    <script type="text/javascript">
        var hash = window.location.hash;
        $('ul.nav-tabs li').eq(hash.substr(1)).addClass('active');
        $('.tab-pane').eq(hash.substr(1)).addClass('active');
        
        $(document).ready(function () {
        });
    </script>
}
