@using QDLogistics.Models

@{
    List<string[]> productList = (List<string[]>)ViewBag.productList;
}
<table class="text-center hidden">
    <tbody>
        @if (productList.Any())
        {
            foreach (string[] data in productList)
            {
                <tr class="datagrid-row">
                    <td width="24"><div class="datagrid-cell"></div></td>
                </tr>
            }
        }
    </tbody>
</table>
<table class="text-center">
    <tbody class="datagrid-body">
        @if (productList.Any())
        {
            foreach (string[] data in productList)
            {
                <tr class="datagrid-row">
                    <td><div class="datagrid-cell datagrid-cell-c1-ProductID">@data[0]</div></td>
                    <td><div class="datagrid-cell datagrid-cell-c1-ProductName">@data[1]</div></td>
                    <td><div class="datagrid-cell datagrid-cell-c1-SentQty"></div></td>
                    <td><div class="datagrid-cell datagrid-cell-c1-ReceivedQty"></div></td>
                    <td><div class="datagrid-cell datagrid-cell-c1-Weight"></div></td>
                    <td><div class="datagrid-cell datagrid-cell-c1-OrderID"></div></td>
                    <td><div class="datagrid-cell datagrid-cell-c1-Serial">@data[2]</div></td>
                    <td><div class="datagrid-cell datagrid-cell-c1-LabelID"></div></td>
                    <td><div class="datagrid-cell datagrid-cell-c1-Action"></div></td>
                </tr>
            }
        }
    </tbody>
</table>
