<?xml version="1.0" encoding="utf-8"?>

<!-- 如需使用 web.config 轉換的詳細資訊，請造訪 http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    在下面的範例中，"SetAttributes" 轉換只會在 "Match" 定位程式找到
    值為 "MyDB" 的屬性 "name" 時，才將 "connectionString" 的值變
    更為使用 "ReleaseSQLServer"。
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <system.web>
    <!-- <sessionState mode="SQLServer" allowCustomSqlDatabase="true" timeout="1440" sqlConnectionString="Data Source=WeyproDB;User ID=dm;Password=dm#12ab;" cookieless="false" xdt:Transform="SetAttributes" xdt:Locator="XPath(/configuration/system.web/sessionState)" /> -->
    <!--
            If you are deploying to a cloud environment that has multiple web server instances,
            you should change session state mode from "InProc" to "Custom". In addition,
            change the connection string named "DefaultConnection" to connect to an instance
            of SQL Server (including SQL Azure and SQL  Compact) instead of to SQL Server Express.
      -->
    <sessionState mode="Custom" timeout="1440" customProvider="DefaultSessionProvider" xdt:Transform="SetAttributes" xdt:Locator="XPath(/configuration/system.web/sessionState)" />
  </system.web>
  
  <connectionStrings>
    <add name="QDLogisticsEntities"
         connectionString="metadata=res://*/Models.QDModel.csdl|res://*/Models.QDModel.ssdl|res://*/Models.QDModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=qdlogistics;user id=wadmin;password=!QW@@WE#3er4;Connection Timeout=180;MultipleActiveResultSets=True;App=EntityFramework&quot;"
         providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
  
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      
      在下面的範例中，"Replace" 轉換將會取代 web.config 檔案
      的整個 <customErrors> 區段。
      請注意，因為在 <system.web> 節點之下 
      只有一個 customErrors 區段，所以不需要使用 "xdt:Locator" 屬性。
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>