<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="DataSync.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="SCServiceSoap" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="OrderCreationServiceSoap" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://dm.ws.sellercloud.com/OrderCreationService.asmx"
          binding="basicHttpBinding" bindingConfiguration="OrderCreationServiceSoap"
          contract="OrderCreationService.OrderCreationServiceSoap" name="OrderCreationServiceSoap" />
      <endpoint address="http://dm.ws.sellercloud.com/scservice.asmx"
          binding="basicHttpBinding" bindingConfiguration="SCServiceSoap"
          contract="OrderService.SCServiceSoap" name="SCServiceSoap" />
    </client>
  </system.serviceModel>
  <applicationSettings>
    <DataSync.Properties.Settings>
      <setting name="DataConnectionString" serializeAs="String">
        <value>Data Source=(local);Initial Catalog=qdlogistics;User ID=wadmin;Password=!QW@@WE#3er4;Connection Lifetime=2000</value>
      </setting>
      <setting name="DataConnectionRootString" serializeAs="String">
        <value>Data Source=(local);Initial Catalog=QDLogistics;User ID=sa;Password=twvsjp0205;Connection Lifetime=2000</value>
      </setting>
    </DataSync.Properties.Settings>
  </applicationSettings>
</configuration>